<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
You are welcome  {{request.user}} <br><br>
<a href="{% url 'logout' %}">logout</a><br>
{% endif %}

{% if not user.is_authenticated %}
<a href="{% url 'register' %}">register</a>
<a href="{% url 'login' %}">login</a>

{% endif %}
<br>
You can add Books here:


<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">
</form>
</body>
</html>