

/*-------------------- CONTACT--------------------------- */

.contact {

    padding: 50px 0 80px;
    text-align: center;
}

.contact p {

    padding-bottom: 80px;
    color: #737373;
}

.contact h2 {

    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contact .input-group {

    margin-bottom: 25px;
}

.contact .form-control {

    border-radius: 0 !important;
}

.contact .span {

    border-radius: 0 !important;
}

.contact .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.contact .btn:hover {

    background-color: #a85959 !important;
    color: #fff !important;
}

