/*-------sabai default css for the rest of the index-----------*/
* {
    
    padding:0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li{
    
    list-style: none;
    display: inline-block
}

a {
    
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    
        text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
     
    background-color:  #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*---------------- NAVIGATION ------------------*/


.navbar {
    
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
/*    font-weight: 700;*/
}

.navbar a {
    
    color: #fff !important;
/*    opacity: 0.7;*/
}


.navbar a:hover {
    
    color: red !important;
    opacity: 1;
    background-color: #111111 !important;
}


/*---------End navogation-----------------------*/


/*------------mathi ko text-----------------*/
.mathi {
/*    background-image:url(../images/search_bgk.jpg);*/
    text-align: center;
    padding: 50px 0 30px;

}

.mathi p {
    
    padding-bottom: 20px;
    color: #737373;
    
}

.mathi h2 {
    
    color: #777;
    margin: 20px 0 20px;
}


/*---------book detail ko box----------------------------*/


.book_ko_detail{
    background-color: #f7faff;
/*    background-image: url(../images/brandon-morgan-15365.jpg);*/
}
.book_ko_detail .border{
    height: 850px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book_ko_detail h4{
    text-align: center;
    padding-top: 15px;
    color: burlywood;

    font-weight: bold;
}

.book_ko_detail img {
    display: block;
    margin: 0 auto;
}

.book_ko_detail p{
    margin-top: 0px;
    color: darkgray;
    text-align: center;
}
.book_ko_detail{
    border: 20px;
}


.book_ko_detail .btn{
    background-color: burlywood;
     color: #fff;


    
}

.book_ko_detail i{
    font-size: 15px;
    padding: 5px;
/*    color: dimgrey;*/
    color: burlywood;
    
}



/*-----------End book detail ko box---------------------------*/


.ggg{
    margin-top: 5px;
}

/*---------------Details wala form ----------------*/


/*.search is actually filling the form*/


.search {
    text-align: center;
    padding: 50px 0 30px;

}

.search p {
    
    padding-bottom: 20px;
    color: #737373;
    
}

.search h2 {
    
    color: #777;
    margin: 20px 0 20px;
}

.search .input-group {
    margin-top: 0px;
    margin-bottom: 15px;
}

.search .form-control {
    
    border-radius: 0 !important;
}

.search .span {
    
    border-radius: 0 !important;
}

.search .btn {
    margin-top: 0px;
    padding-left:0px;
    border-radius: 0;
/*    width: 100%;*/
    width: 130px;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.search .btn:hover {
    
    background-color: #a85959 !important; 
    color: #fff !important;
}



/*---------------search tab in the top ----------------*/






/*---------------- FOOTER -----------------------*/

.footer {
/*    margin-top: 20px;*/
    padding: 40px;
    color: #cccccc;
    background-color: #222222;
}
.footer h4{
        color: red;


}

.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
/*    border: 1px solid #cccccc;*/
    margin-bottom: 10px;
    color: red;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 220px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    text-align: center;
    background-color: red;
    height: 40px;
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
    color:white;
}